<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> hoangquanghieua6nkc@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a routerLink="/home"></a><h4 style="font-family: 'Courier New', Courier, monospace;">Memory Book</h4>
                        <!-- <a routerLink="/home"><img src="assets/images/logo12.PNG" alt="" /></a> -->
                    </div>
                    
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
                            <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li> -->
                            <li><a routerLink="/checkout"><i class="fa fa-crosshairs"></i> Thanh toán</a></li>
                            <li><a routerLink="/cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng({{total}})</a></li>
                            <li><a routerLink="/login"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a routerLink="/home" class="active">Trang chủ</a></li>
                            <li class="dropdown"><a href="#">Chủ đề<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <ng-container *ngFor="let item of chude">
                                    <li><a [routerLink] = "['/listchude',item.machude]" >{{item.tenchude}}</a></li>
                                    </ng-container>
                                </ul>
                            </li> 
                            <li class="dropdown"><a href="#">Nhà xuất bản<i class="fa fa-angle-down"></i></a>
                                
                                <ul role="menu" class="sub-menu">
                                    <ng-container *ngFor="let item of nhaxuatban">
                                    <li><a [routerLink] = "['/listnxb',item.manxb]" >{{item.tennxb}}</a></li> 
                                    </ng-container>
                                </ul>
                                
                            </li> 
                            <li><a [routerLink] = "['/tintuc']">Tin tức</a></li>
                            <li><a [routerLink]= "['/gioithieu']">Giới thiệu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search"/>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-12">
                                <img src="assets/images/banner567.jpg" style="height: 400px;width: 900px;" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-12">
                                <img src="assets/images/banner124.jpg" style="height: 400px;width: 900px;" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="col-sm-12">
                                <img src="assets/images/banner123.jpg" style="height: 400px;width: 900px;" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->
