<footer id="footer"><!--Footer-->
    
    
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>LIÊN HỆ</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Địa chỉ: Số 1 Trường Chinh, P.11, Q.Tân Bình, Tp.Hồ Chí Minh</a></li>
                            <li><a href="#">Hotline: 028.3600.7777</a></li>
                            <li><a href="#">Email: sale@nhanvan.vn</a></li>
                            <li><a href="#">Giờ mở cửa: Từ thứ 2 đến thứ 6: 8:30 am - 8 pm Thứ 7: 8:30 am - 12 pm</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>DỊCH VỤ</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Tích điểm</a></li>
                            <li><a href="#">Ưu đãi hiện có</a></li>
                            <li><a href="#">Sách giảm đến 70%</a></li>
                            <li><a href="#">Sách độc quyền</a></li>
                            <li><a href="#">Ưu đãi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Thông tin</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Thông tin hữu ích</a></li>
                            <li><a href="#">Hệ thống cửa hàng</a></li>
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Chính sách đổi trả - hoàn tiền</a></li>
                            <li><a href="#">Chính sách thanh toán</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>Đăng ký nhận tin</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Email của bạn" />
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            <p>Nhận các bản cập nhật gần đây nhất từ 
                            <br />our site and be updated your self...</p>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>
    
</footer><!--/Footer-->
