<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Hình ảnh</td>
                        <td class="description">Tên sản phẩm</td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr *ngFor="let c of items"> 
                        <td class="product_remove">
                            <a ><img src="assets/images/{{c.anhbia}}" alt="" style="height: 100px;width: 80px;"></a>
                        </td>
                        <td class="cart_description">
                            <p><a href=""> {{c.tensach}}</a></p>
                        </td>
                        <td class="cart_price">
                            <p> {{c.giaban}} vnđ</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <!-- <a class="cart_quantity_up" href=""> + </a> -->
                                <input class="cart_quantity_input"  name="qtybutton" #inp min="1"
                                 max="100" (change)="addQty(c,inp.value)" [value]="c.quantity" type="number">
                                <!-- <a class="cart_quantity_down" href=""> - </a> -->
                            </div>
                        </td>
                        <td class="product-subtotal">
                            {{c.money}} vnđ
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" (click)="_cart.deleteItem(c.masach)"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Bạn muốn làm gì tiếp theo?</h3>
            <p>Thanh toán nhé</p>
        </div>
        <div class="row">
            
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Tổng tiền <span>{{total}} vnđ</span></li>
                        <li>Phí vận chuyển  <span>Free</span></li>
                        <li>Thành tiền <span>{{total}} vnđ</span></li>
                    </ul>
                        <!-- <a class="btn btn-default update" href="">Update</a> -->
                        <a class="btn btn-default check_out" routerLink="/checkout">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
